<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Import Bootstrap5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="../style.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Kiwi+Maru&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Light Gallery CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/css/lightgallery.css'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/css/lg-zoom.css'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/justifiedGallery@3.8.1/dist/css/justifiedGallery.css'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.css'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/css/lg-thumbnail.css'>
    
    <!-- Import Bootstrap5 JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <!-- Jquery -->
    <script src='../assets/js/jquery/jquery.min.js'></script>
    <!-- Gallery JS -->
    <script src="../assets/js/gallery/gallery.js"></script>

    <title>Gallery</title>
</head>
<body>
    <!-- NAVBAR -->
    <div class="navbar bg-light">
        <nav
          class="navbar navbar-expand-lg nav-container"
        >
          <div class="container-fluid">
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a
                    class="nav-link active text-light link"
                    aria-current="page"
                    href="../index.html"
                    >HOME</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link active text-light link"
                    aria-current="page"
                    href="./events.html"
                    >EVENTS</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link active text-light link"
                    aria-current="page"
                    href="./gallery.html"
                    >GALLERY</a
                  >
                </li>
              </ul>
              <form class="d-flex">
                <button class="btn contact-button mr-5" type="submit"><a
                    class="nav-link contact-link"
                    aria-current="page"
                    href="./contact-us.html"
                    >CONTACT US</a
                  ></button>
              </form>
            </div>
          </div>
        </nav>
        <a href="../index.html">
          <img
            class="logo"
            src="../assets/images/logo-son2.png"
            alt=""
            width="50"
            height="44"
          />
        </a>
    </div>

    <!-- CONTENT -->
    <div class="gallery-content">
      <div class="container-sm">
        <div class="row justify-content-center">
          <div class="col col-md-10">
            <div class="gallery-container" id="animated-thumbnails-gallery">
              <a data-lg-size="1600-1144" data-pinterest-text="Pin it3" data-tweet-text="lightGallery slide  4" class="gallery-item" data-src="https://i2.cnnturk.com/i/cnnturk/75/450x225/60748663c8c37326a86f3831.jpg?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1600&q=80" data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@aaronburden' >Aaron Burden</a></h4><p>Location - <a href='https://unsplash.com/s/photos/grayling%2C-michigan%2C-united-states'>Grayling, Michigan, United States</a> Colorful trees near a lake. <a href='https://unsplash.com/photos/00QWN1J0g48'>Link</a> </p>">
                <img class="img-responsive" src="https://i2.cnnturk.com/i/cnnturk/75/450x225/60748663c8c37326a86f3831.jpg?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=240&q=80" />
              </a>
              <a data-lg-size="1600-1144" data-pinterest-text="Pin it3" data-tweet-text="lightGallery slide  4" class="gallery-item" data-src="https://the18.com/sites/default/files/styles/featured_mobile__621x709_/public/feature-images/2021-Fenerbahce-BeFair-beIN-Sports.jpeg?itok=85vzlZ84?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1600&q=80" data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@aaronburden' >Aaron Burden</a></h4><p>Location - <a href='https://unsplash.com/s/photos/grayling%2C-michigan%2C-united-states'>Grayling, Michigan, United States</a> Colorful trees near a lake. <a href='https://the18.com/sites/default/files/styles/featured_mobile__621x709_/public/feature-images/2021-Fenerbahce-BeFair-beIN-Sports.jpeg?itok=85vzlZ84'>Link</a> </p>">
                <img class="img-responsive" src="https://the18.com/sites/default/files/styles/featured_mobile__621x709_/public/feature-images/2021-Fenerbahce-BeFair-beIN-Sports.jpeg?itok=85vzlZ84?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=240&q=80" />
              </a>
              <a data-lg-size="1600-1144" data-pinterest-text="Pin it3" data-tweet-text="lightGallery slide  4" class="gallery-item" data-src="https://i4.hurimg.com/i/hurriyet/75/770x0/607d14034e3fe008c4f4ec0d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1600&q=80" data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@aaronburden' >Aaron Burden</a></h4><p>Location - <a href='https://unsplash.com/s/photos/grayling%2C-michigan%2C-united-states'>Grayling, Michigan, United States</a> Colorful trees near a lake. <a href='https://unsplash.com/photos/00QWN1J0g48'>Link</a> </p>">
                <img class="img-responsive" src="https://i4.hurimg.com/i/hurriyet/75/770x0/607d14034e3fe008c4f4ec0d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=240&q=80" />
              </a>
              <a data-lg-size="1600-1067" data-pinterest-text="Pin it3" data-tweet-text="lightGallery slide  4" class="gallery-item" data-src="https://i.pinimg.com/originals/89/2e/09/892e09b62c02c7ab17713895739131a8.jpg?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80" data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@flovayn' >Jay Mantri</a></h4><p>  Misty shroud over a forest</p>">
                <img class="img-responsive" src="https://i.pinimg.com/originals/89/2e/09/892e09b62c02c7ab17713895739131a8.jpg?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=240&q=80" />
              </a>
              <a data-lg-size="1600-1067" data-pinterest-text="Pin it3" data-tweet-text="lightGallery slide  4" class="gallery-item" data-src="https://cdntr1.img.sputniknews.com/img/104055/22/1040552292_0:0:1920:1039_1000x541_80_0_0_d630beb6e878f1eab138dcb4cb6fc111.jpg?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1600&q=80" data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@flovayn' >Florian van Duyn</a></h4><p>Location - <a href='Bled, Slovenia'>Bled, Slovenia</a> </p>">
                <img class="img-responsive" src="https://cdntr1.img.sputniknews.com/img/104055/22/1040552292_0:0:1920:1039_1000x541_80_0_0_d630beb6e878f1eab138dcb4cb6fc111.jpg?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=240&q=80" />
              </a>
              <a data-lg-size="1600-1126" data-pinterest-text="Pin it3" data-tweet-text="lightGallery slide  4" class="gallery-item" data-src="https://www.muhalif.com.tr/images/haberler/2021/04/fenerbahce-kasimpasa-macinda-muhtemel-11ler-1619353805.png?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80" data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@juanster' >Juan Davila</a></h4><p>Location - <a href='Bled, Slovenia'>Bled, Slovenia</a> Wooded lake island </p>">
                <img class="img-responsive" src="https://www.muhalif.com.tr/images/haberler/2021/04/fenerbahce-kasimpasa-macinda-muhtemel-11ler-1619353805.png?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=240&q=80" />
              </a>
              <a data-lg-size="1600-1144" data-pinterest-text="Pin it3" data-tweet-text="lightGallery slide  4" class="gallery-item" data-src="https://cdn.ntvspor.net/729fa4c30dcc47b988b1982dc435bbd4.jpg?&mode=crop&w=940&h=626.6666666666666?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1600&q=80" data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@aaronburden' >Aaron Burden</a></h4><p>Location - <a href='https://unsplash.com/s/photos/grayling%2C-michigan%2C-united-states'>Grayling, Michigan, United States</a> Colorful trees near a lake. <a href='https://unsplash.com/photos/00QWN1J0g48'>Link</a> </p>">
                <img class="img-responsive" src="https://cdn.ntvspor.net/729fa4c30dcc47b988b1982dc435bbd4.jpg?&mode=crop&w=940&h=626.6666666666666?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=240&q=80" />
              </a>
              <a data-lg-size="1600-2400" data-pinterest-text="Pin it3" data-tweet-text="lightGallery slide  4" class="gallery-item" data-src="https://i.pinimg.com/originals/55/fa/d9/55fad953cf7012d2faa46f18f28a8d17.png?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80" data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@whoisbenjamin' >whoisbenjamin</a></h4>
                      <p>Location - <a href='https://unsplash.com/s/photos/ciuca%C8%99-peak%2C-romania'>Snowdonia National Park, Blaenau Ffestiniog, UK</a> 
                      A swan on a calm misty lake in the mountains of Snowdonia, North Wales. <a href='https://i.pinimg.com/originals/55/fa/d9/55fad953cf7012d2faa46f18f28a8d17.png'>Link</a> </p>">
                <img class="img-responsive" src="https://i.pinimg.com/originals/55/fa/d9/55fad953cf7012d2faa46f18f28a8d17.png?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=240&q=80" />
              </a>
              <a data-lg-size="1600-1144" data-pinterest-text="Pin it3" data-tweet-text="lightGallery slide  4" class="gallery-item" data-src="https://i.pinimg.com/originals/b2/80/75/b280753a3ebd4bfcbdac77099b2fae1a.jpg?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1600&q=80" data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@aaronburden' >Aaron Burden</a></h4><p>Location - <a href='https://unsplash.com/s/photos/grayling%2C-michigan%2C-united-states'>Grayling, Michigan, United States</a> Colorful trees near a lake. <a href='https://i.pinimg.com/originals/b2/80/75/b280753a3ebd4bfcbdac77099b2fae1a.jpg'>Link</a> </p>">
                <img class="img-responsive" src="https://i.pinimg.com/originals/b2/80/75/b280753a3ebd4bfcbdac77099b2fae1a.jpg?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=240&q=80" />
              </a>
              <a data-lg-size="1600-1067" data-pinterest-text="Pin it3" data-tweet-text="lightGallery slide  4" class="gallery-item" data-src="https://lh3.googleusercontent.com/PtHPEgM2tVkTZEbeadLNyGk55veVzOMbDEptEbfsgoIjeMR04nwne4MD1fYir7MH3NI=w300-rw?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80" data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@kalenemsley' >Kalen Emsley</a></h4><p>Location - <a href='https://unsplash.com/s/photos/yukon-territory%2C-canada'>Yukon Territory, Canada</a> No captions. <a href='https://lh3.googleusercontent.com/PtHPEgM2tVkTZEbeadLNyGk55veVzOMbDEptEbfsgoIjeMR04nwne4MD1fYir7MH3NI=w300-rw'>Link</a> </p>">
                <img class="img-responsive" src="https://lh3.googleusercontent.com/PtHPEgM2tVkTZEbeadLNyGk55veVzOMbDEptEbfsgoIjeMR04nwne4MD1fYir7MH3NI=w300-rw?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=240&q=80" />
              </a>
              <a data-lg-size="1600-1067" data-pinterest-text="Pin it3" data-tweet-text="lightGallery slide  4" class="gallery-item" data-src="https://www.fenerbahce.org/getmedia/4583bf60-4d8e-4cdb-8cf8-091902cdf0f9/ulkerarena1200px.jpg?width=1200&height=675&ext=.jpg?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80" data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@kace' >Kace Rodriguez</a></h4><p>Location - <a href='https://unsplash.com/s/photos/pfeiffer-beach%2C-united-states'>Pfeiffer Beach, United States</a> Pfeiffer Beach at Dusk. <a href='https://www.fenerbahce.org/getmedia/4583bf60-4d8e-4cdb-8cf8-091902cdf0f9/ulkerarena1200px.jpg?width=1200&height=675&ext=.jpg'>Link</a> </p>">
                <img class="img-responsive" src="https://www.fenerbahce.org/getmedia/4583bf60-4d8e-4cdb-8cf8-091902cdf0f9/ulkerarena1200px.jpg?width=1200&height=675&ext=.jpg?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=240&q=80" />
              </a>
              <a data-lg-size="1600-2400" data-pinterest-text="Pin it3" data-tweet-text="lightGallery slide  4" class="gallery-item" data-src="https://basketservisi.com/wp-content/uploads/2021/05/euroleague_fenerbahce_basketservisi.jpg?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80" data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@patwhelen' >Pat Whelen</a></h4><p>Location - <a href='https://unsplash.com/s/photos/portsea-vic%2C-australia'>Portsea VIC, Australia</a> No caption <a href='https://basketservisi.com/wp-content/uploads/2021/05/euroleague_fenerbahce_basketservisi.jpg'>Link</a> </p>">
                <img class="img-responsive" src="https://basketservisi.com/wp-content/uploads/2021/05/euroleague_fenerbahce_basketservisi.jpg?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=240&q=80" />
              </a>
              <a data-lg-size="1600-1067" data-pinterest-text="Pin it3" data-tweet-text="lightGallery slide  4" class="gallery-item" data-src="https://cdn.sporx.com/img/2021/05/02/fenerbahceye_iki_zorunlu_a347f_800.jpg?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1600&q=80" data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@derekthomson' >Derek Thomson</a></h4><p>Location - <a href='https://unsplash.com/s/photos/mcway-falls%2C-united-states'>McWay Falls, United States</a> No caption <a href='https://cdn.sporx.com/img/2021/05/02/fenerbahceye_iki_zorunlu_a347f_800.jpg'>Link</a> </p>">
                <img class="img-responsive" src="https://cdn.sporx.com/img/2021/05/02/fenerbahceye_iki_zorunlu_a347f_800.jpg?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=240&q=80" />
              </a>
              <a data-lg-size="1600-2400" data-pinterest-text="Pin it3" data-tweet-text="lightGallery slide  4" class="gallery-item" data-src="https://i.pinimg.com/originals/fd/8d/b3/fd8db33432d7a5e10e99f743b4136992.png?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1600&q=80" data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@michaljaneck' >Michal Janek</a></h4><p>Location - <a href='https://unsplash.com/s/photos/big-sur%2C-united-states'>Big Sur, United States</a> Coast  </p>">
                <img class="img-responsive" src="https://i.pinimg.com/originals/fd/8d/b3/fd8db33432d7a5e10e99f743b4136992.png?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=240&q=80" />
              </a>
              <a data-lg-size="1600-2400" data-pinterest-text="Pin it3" data-tweet-text="lightGallery slide  4" class="gallery-item" data-src="https://icdn.turkiyegazetesi.com.tr/images/haberler/2019_10/buyuk/luiz-gustavo-ben-buraya-kazanmak-icin-geldim-1572156164.jpg?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80" data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@papillon' >Iris Papillon</a></h4><p>Location - <a href='https://unsplash.com/s/photos/big-sur%2C-united-states'>Big Sur, United States</a> Big Sur drive  </p>">
                <img class="img-responsive" src="https://icdn.turkiyegazetesi.com.tr/images/haberler/2019_10/buyuk/luiz-gustavo-ben-buraya-kazanmak-icin-geldim-1572156164.jpg?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=240&q=80" />
              </a>
              <a data-lg-size="1600-1065" data-pinterest-text="Pin it3" data-tweet-text="lightGallery slide  4" class="gallery-item" data-src="https://c4.wallpaperflare.com/wallpaper/345/580/1010/fenerbahce-wallpaper-preview.jpg?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80" data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@piyushh_dubeyy' >piyush dubey</a></h4><p>Published on August 2, 2020</p>">
                <img class="img-responsive" src="https://c4.wallpaperflare.com/wallpaper/345/580/1010/fenerbahce-wallpaper-preview.jpg?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=240&q=80" />
              </a>
              <a data-lg-size="1600-2134" data-pinterest-text="Pin it3" data-tweet-text="lightGallery slide  4" class="gallery-item" data-src="https://www.kanaryalar.net/wp-content/uploads/2019/11/fenerbahce_wallpapers2.jpg?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80" data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@fynn_it' >fynn</a></h4><p>Location - <a href='https://unsplash.com/s/photos/big-sur%2C-united-states'>Big Sur, United States</a> Wasserauen, Appenzell Innerrhoden, Schweiz  </p>">
                <img class="img-responsive" src="https://www.kanaryalar.net/wp-content/uploads/2019/11/fenerbahce_wallpapers2.jpg?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=240&q=80" />
              </a>
              <a data-lg-size="1600-1060" data-pinterest-text="Pin it3" data-tweet-text="lightGallery slide  4" class="gallery-item" data-src="https://www.wallpapertip.com/wmimgs/77-776378_fenerbahce-fc-4k-turkish-football-club-leather-texture.jpg?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80" data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@danielleone' >Daniel Leone</a></h4><p>Location - <a href='https://unsplash.com/s/photos/poon-hill%2C-ghode-pani%2C-nepal'>Poon Hill, Ghode Pani, Nepal</a> Taken from the top of Poon Hill before sun rise </p>">
                <img class="img-responsive" src="https://www.wallpapertip.com/wmimgs/77-776378_fenerbahce-fc-4k-turkish-football-club-leather-texture.jpg?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=240&q=80" />
              </a>
              <a data-lg-size="1600-1037" data-pinterest-text="Pin it3" data-tweet-text="lightGallery slide  4" class="gallery-item" data-src="https://media-cdn.t24.com.tr/media/library/2021/04/1619419369109-42213213123.jpg?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80" data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@bboba' >Boba Jovanovic</a></h4><p>Location - <a href='https://unsplash.com/s/photos/bay-of-kotor'>Bay of Kotor</a> Boka kotorska bay </p>">
                <img class="img-responsive" src="https://media-cdn.t24.com.tr/media/library/2021/04/1619419369109-42213213123.jpg?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=240&q=80" />
              </a>
              <a data-lg-size="1600-899" data-pinterest-text="Pin it3" data-tweet-text="lightGallery slide  4" class="gallery-item" data-src="https://images.eurohoops.net/2016/04/Fener-fans-2-625x375.png?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80" data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@svsdesigns' >Surendra Vikram Singh</a></h4><p>Location - <a href='https://unsplash.com/s/photos/lachung%2C-sikkim%2C-india'>Lachung, Sikkim, India</a> Cloud covered mountain </p>">
                <img class="img-responsive" src="https://images.eurohoops.net/2016/04/Fener-fans-2-625x375.png?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=240&q=80" />
              </a>
              <a data-lg-size="1600-1067" data-pinterest-text="Pin it3" data-tweet-text="lightGallery slide  4" class="gallery-item" data-src="https://ajssarimg.mediatriple.net/1138945.jpg?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2252&q=80" data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@camadams' >Cam Adams</a></h4><p>Location - <a href='https://unsplash.com/s/photos/banff%2C-canada'>Banff, Canada</a> Lake along jagged mountains</p>">
                <img class="img-responsive" src="https://ajssarimg.mediatriple.net/1138945.jpg?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=240&q=80" />
              </a>
              <a data-lg-size="1536-2304" data-pinterest-text="Pin it3" data-tweet-text="lightGallery slide  4" class="gallery-item" data-src="https://i.ytimg.com/vi/LHUhmORefF0/maxresdefault.jpg?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1536&q=80" data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@rea_le' >Andrea Ledda</a></h4><p>Location - <a href='https://unsplash.com/s/photos/lago-goillet%2C-italy'>Lago Goillet, Italy</a>  Goillet Lake at 2561 meters above Breuil-Cervinia</p>">
                <img class="img-responsive" src="https://i.ytimg.com/vi/LHUhmORefF0/maxresdefault.jpg?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=240&q=80" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER-->
    <div class="footer">
        <div class="row footer-first-row">
            <div class="footer-line"></div>
            <img src="../assets/images/logo-son2.png" class="footer-logo" alt="">
        </div>
        <div class="row footer-second-row">
            <div class="col">
                <div class="symbols">
                    <a href="https://www.facebook.com"><i class="fab  fa-2x fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com"><i class="fab fa-2x fa-instagram-square"></i></a>
                    <a href="https://www.twitter.com"><i class="fab fa-2x fa-twitter-square"></i></a>
                </div>
            </div>
            <div class="col">
                <div class="copyright">
                    <span>&#169;</span>
                    <span>Copyright. All rights reserved.</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Light Gallery plugins -->
    <script src='https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/lightgallery.umd.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/plugins/zoom/lg-zoom.umd.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/justifiedGallery@3.8.1/dist/js/jquery.justifiedGallery.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/plugins/thumbnail/lg-thumbnail.umd.js'></script>
</body>
</html>